<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213658010129-qjho4kg4rpir59j5aaqd05go30gcstua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213658010129-qjho4kg4rpir59j5aaqd05go30gcstua</string>
	<key>API_KEY</key>
	<string>AIzaSyAC17zjtIaoLO-P_CWs_8ektg0BzVVra9A</string>
	<key>GCM_SENDER_ID</key>
	<string>213658010129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativeblog</string>
	<key>PROJECT_ID</key>
	<string>reactnativeblog-d36fc</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativeblog-d36fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213658010129:ios:408b484cc70218a1dc27b0</string>
</dict>
</plist>